<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area sp-y">
		<div class="footer-top-wrap">
				<div class="container">
						<div class="footer-top-content">
								<div class="row align-items-center">
										<div class="col-md-8 col-lg-6">
												<h2>Get Started Today</h2>
												<p>Businex always try to provide the best Business Solutions for Clinets to grow up their
														Business sharply and smoothly.</p>
										</div>
										<div class="col-md-4 col-lg-6 text-md-right mt-sm-25">
												<a href="contact.html" class="btn-outline">Contact Us</a>
										</div>
								</div>
						</div>
				</div>
		</div>

		<div class="footer-widget-area sm-top-wt">
				<div class="container">
						<div class="row mtn-40">
								<div class="col-lg-4 order-4 order-lg-0">
										<div class="widget-item">
												<div class="about-widget">
														<a href="index.html"><img src="images/logo-dark.png" alt="Logo" /></a>
														<p>During the summer my wife and I got to go on an amazing road trip in Vancouver.</p>

														<div class="copyright-txt">
																<p>&copy; 2019 Businex Ltd. All Rights Reserved.</p>
														</div>
												</div>
										</div>
								</div>

								<div class="col-md-4 col-lg-2 ml-auto">
										<div class="widget-item">
												<h4 class="widget-title">Information</h4>
												<div class="widget-body">
														<ul class="widget-list">
																<li><a href="#">Our company</a></li>
																<li><a href="#">Contact us</a></li>
																<li><a href="#">Our services</a></li>
																<li><a href="#">Careers</a></li>
														</ul>
												</div>
										</div>
								</div>

								<div class="col-md-4 col-lg-2 ml-auto">
										<div class="widget-item">
												<h4 class="widget-title">Quick Links</h4>
												<div class="widget-body">
														<ul class="widget-list">
																<li><a href="#">Facebook</a></li>
																<li><a href="#">Twitter</a></li>
																<li><a href="#">Dribbble</a></li>
																<li><a href="#">Instagram</a></li>
														</ul>
												</div>
										</div>
								</div>

								<div class="col-md-4 col-lg-3">
										<div class="widget-item">
												<h4 class="widget-title">Contact</h4>
												<div class="widget-body">
														<address>
																2005 Stokes Isle Apartment. 896, Washington 10010, USA <br>
														https://example.com <br>
														(+68) 120034509
												</address>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</footer>
<!--== End Footer Area Wrapper ==-->

<!-- Scroll Top Button -->
<button class="btn-scroll-top"><i class="mdi mdi-chevron-up"></i></button>


<!-- Start Off Canvas Menu Wrapper -->
<aside class="off-canvas-wrapper off-canvas-cog">
		<div class="off-canvas-overlay"></div>
		<div class="off-canvas-inner">
				<div class="close-btn">
						<button class="btn-close"><i class="mdi mdi-close"></i></button>
				</div>

				<!-- Start Off Canvas Content -->
				<div class="off-canvas-content mb-sm-30">
						<div class="off-canvas-item">
								<div class="log-in-content-wrap">
										<h2>Login</h2>
										<div class="login-form mtn-15">
												<form action="#" method="post">
														<div class="form-input-item">
																<label for="username" class="sr-only">Username</label>
																<input type="text" id="username" placeholder="Username" required>
														</div>

														<div class="form-input-item">
																<label for="password" class="sr-only">Password</label>
																<input type="password" id="password" placeholder="Password" required>
														</div>

														<div class="form-input-item">
																<button type="submit" class="btn-submit">Login</button>
														</div>
												</form>
										</div>

										<div class="sign-up-notification">
												<p>Not Resisted? <a href="#">Create Account Now.</a></p>
										</div>
								</div>
						</div>

						<div class="off-canvas-item mt-sm-30">
								<div class="social-icons">
										<a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
										<a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
										<a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
										<a href="https://dribbble.com" target="_blank"><i class="fa fa-dribbble"></i></a>
										<a href="https://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
								</div>
								<div class="copyright-content">
										<p> © Businex 2019. All Right Reserved.</p>
								</div>
						</div>
				</div>
		</div>
</aside>
<!-- End Off Canvas Menu Wrapper -->







<!-- Start Off Canvas Menu Wrapper -->
<aside class="off-canvas-wrapper off-canvas-menu">
		<div class="off-canvas-overlay"></div>
		<div class="off-canvas-inner">
				<!-- Start Off Canvas Header -->
				<div class="close-btn">
						<button class="btn-close"><i class="mdi mdi-close"></i></button>
				</div>

				<!-- Start Off Canvas Content -->
				<div class="off-canvas-content">
						<div class="res-mobile-menu">

						</div>
				</div>
		</div>
</aside>
<!-- End Off Canvas Menu Wrapper -->
