<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area" style="margin-top: 0; padding: 60px 0px;">
		<div class="footer-widget-area">
				<div class="container">
						<div class="row mtn-40">
								<div class="d-none d-xl-block col-4"></div>
								<div class="col-6 col-xl-4">
										<div class="widget-item">
												<div class="about-widget center-contents">
													<br>
														<a href="/"><img style="height:" src="images/footer.png" alt="Logo" /></a>

														<div class="copyright-txt">
																<p>&copy; <script>document.write(new Date().getFullYear())</script> Wharton Management Club<br>All Rights Reserved</p>
														</div>
												</div>
										</div>
								</div>

								<div class="col-6 col-xl-4 container">
										<div class="widget-item row">
												<div class="col-2"></div>
												<div class="widget-body col-8">
														<h4 class="widget-title">Quick Links</h4>
														<ul class="widget-list">
																<li class="quick-links-li"><a target="_blank" href="https://www.facebook.com/whartonmanagementclub">Facebook</a></li>
																<li class="quick-links-li"><a target="_blank" href="https://www.linkedin.com/company/wharton-management-club">LinkedIn</a></li>
																<li class="quick-links-li"><a target="_blank" href="https://www.instagram.com/whartonmanagementclub/">Instagram</a></li>
																<li class="quick-links-li"><a target="_blank" href="/contact">Contact Us</a></li>
														</ul>
												</div>
												<div class="col-2"></div>
										</div>
								</div>
						</div>
				</div>
		</div>
</footer>
<!--== End Footer Area Wrapper ==-->


<!-- Start Off Canvas Menu Wrapper -->
<aside class="off-canvas-wrapper off-canvas-cog">
		<div class="off-canvas-overlay"></div>
		<div class="off-canvas-inner">
				<div class="close-btn">
						<button class="btn-close"><i class="mdi mdi-close"></i></button>
				</div>

				<!-- Start Off Canvas Content -->
				<div class="off-canvas-content mb-sm-30">
						<div class="off-canvas-item">
								<div class="log-in-content-wrap">
										<h2>Login</h2>
										<div class="login-form mtn-15">
												<form action="#" method="post">
														<div class="form-input-item">
																<label for="username" class="sr-only">Username</label>
																<input type="text" id="username" placeholder="Username" required>
														</div>

														<div class="form-input-item">
																<label for="password" class="sr-only">Password</label>
																<input type="password" id="password" placeholder="Password" required>
														</div>

														<div class="form-input-item">
																<button type="submit" class="btn-submit">Login</button>
														</div>
												</form>
										</div>

										<div class="sign-up-notification">
												<p>Not Resisted? <a href="#">Create Account Now.</a></p>
										</div>
								</div>
						</div>

						<div class="off-canvas-item mt-sm-30">
								<div class="social-icons">
										<a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
										<a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
										<a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
										<a href="https://dribbble.com" target="_blank"><i class="fa fa-dribbble"></i></a>
										<a href="https://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
								</div>
								<div class="copyright-content">
										<p> © Businex 2019. All Right Reserved.</p>
								</div>
						</div>
				</div>
		</div>
</aside>
<!-- End Off Canvas Menu Wrapper -->







<!-- Start Off Canvas Menu Wrapper -->
<aside class="off-canvas-wrapper off-canvas-menu">
		<div class="off-canvas-overlay"></div>
		<div class="off-canvas-inner">
				<!-- Start Off Canvas Header -->
				<div class="close-btn">
						<button class="btn-close"><i class="mdi mdi-close"></i></button>
				</div>

				<!-- Start Off Canvas Content -->
				<div class="off-canvas-content">
						<div class="res-mobile-menu">

						</div>
				</div>
		</div>
</aside>
<!-- End Off Canvas Menu Wrapper -->

<div style="display:none;" id="applypopup" class="popup"><img src="images/footer.png"><span>We are accepting new members!<br>If you are thinking about applying,<br>fill out our <a target="_blank" href="https://forms.gle/GdTgdWuQYfaeaKcX9">interest form</a> and<br>check out <a href="https://pennclubs.com/club/wharton-management-club">our page on Penn Clubs</a>.</span><div class="close">&times;</div></div>
