<!--== Start Header Area Wrapper ==-->
<header class="header-area">
		<div class="container">
				<div class="row align-items-center">
						<div class="col-7 col-lg-3">
								<!-- Start Logo Area -->
								<div class="logo-area">
										<a href="/"><img style="width:190px; height:auto;" src="images/logo.png" alt="WMC-Logo"></a>
								</div>
								<!-- End Logo Area -->
						</div>

						<div class="col-lg-9 d-none d-lg-block">
								<!-- Start Navigation Area -->
								<div class="navigation-area mt-lg-3 parent">
										<ul class="main-menu nav child">
												<li><a id = "homelink" href="/">Home</a></li>
												<!--<li><a id = "newslink" href="/news">News</a></li>-->
												<li><a id = "aboutlink" href="/about">About</a></li>
												<li><a id = "memberslink" href="/members">Members</a></li>
												<!--<li><a id = "activitieslink" href="/activities">Activities</a></li>-->
												<li><a id = "clientslink" href="/clients">Clients</a></li>
												<li><a id = "sponsorslink" href="/sponsors">Sponsors</a></li>
												<li><a id = "contactlink" href="/contact">Contact</a></li>
										</ul>
								</div>
								<!-- End Navigation Area -->
						</div>

						<div class="col-3 d-lg-none">
								<!-- Start Header Action Area -->
								<div class="header-action mt-lg-3 text-right">
										<button class="btn-menu d-lg-none"><i class="fa fa-bars"></i></button>
								</div>
								<!-- End Header Action Area -->
						</div>
				</div>
		</div>
</header>
<!--== End Header Area Wrapper ==-->
