<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>Blog Details</title>

<body>

    <% include global/header %>

    <!--== Start Blog Details Page Content ==-->
    <div class="blog-details-page-content sp-y">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <article class="blog-post-details">
                        <figure class="blog-post-thumb">
                            <img src="images/blog/blog-details-1.jpg" alt="Blog" />
                        </figure>

                        <div class="blog-post-txt-wrap">
                            <div class="row">
                                <div class="col-md-3 col-lg-2 order-1 order-md-0">
                                    <div class="author-info mt-sm-40">
                                        <div class="author-thumb">
                                            <img src="images/team/02.jpg" alt="Businex-Author" />
                                        </div>
                                        <div class="author-txt">
                                            <h5>Alex Tuntuni <span class="designation">Content Writer</span></h5>

                                            <div class="member-social-icons">
                                                <a href="#"><i class="mdi mdi-facebook"></i></a>
                                                <a href="#"><i class="mdi mdi-twitter"></i></a>
                                                <a href="#"><i class="mdi mdi-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-9 col-lg-8 m-auto order-0">
                                    <div class="blog-post-txt">
                                        <h2 class="h3">Low angle photo of highers building</h2>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam
                                            assumenda culpa cumque debitis dignissimos, dolor dolores doloribus ducimus fuga
                                            iusto magni maiores minus nam numquam officiis provident quasi quibusdam quos
                                            ratione rem saepe sequi sit unde ut velit vitae. Amet ea error expedita,
                                            laboriosam maxime officiis porro ut velit.</p>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam
                                            assumenda culpa cumque debitis dignissimos, dolor dolores doloribus ducimus fuga
                                            iusto magni maiores minus nam numquam officiis provident quasi</p>

                                        <blockquote class="blockquote">
                                            <p>dolor dolores doloribus ducimus fuga
                                                iusto magni maiores minus nam numquam officiis provident quasi</p>
                                        </blockquote>

                                        <figure class="blog-post-img">
                                            <img src="images/blog/blog-details-2.jpg" alt="Blog" />
                                        </figure>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam
                                            assumenda culpa cumque debitis dignissimos, dolor dolores doloribus ducimus fuga
                                            iusto magni maiores minus nam numquam officiis provident quasi quibusdam quos
                                            ratione rem saepe sequi sit unde ut velit vitae. Amet ea error expedita,
                                            laboriosam maxime officiis porro ut velit.</p>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam
                                            assumenda culpa cumque debitis dignissimos, dolor dolores doloribus ducimus fuga
                                            iusto magni maiores minus nam numquam officiis provident quasi</p>
                                    </div>

                                    <div class="share-article text-center">
                                        <h6>Share this article</h6>
                                        <div class="member-social-icons justify-content-center">
                                            <a class="facebook" href="#"><i class="mdi mdi-facebook"></i></a>
                                            <a class="twitter" href="#"><i class="mdi mdi-twitter"></i></a>
                                            <a class="reddit" href="#"><i class="mdi mdi-reddit"></i></a>
                                            <a class="pinterest" href="#"><i class="mdi mdi-pinterest"></i></a>
                                        </div>
                                    </div>

                                    <!-- Start Comment Area Wrapper -->
                                    <div class="comment-area-wrapper">
                                        <div class="comments-view-area">
                                            <h3>Comments (5)</h3>
                                            <div class="single-comment-wrap d-flex">
                                                <figure class="author-thumb">
                                                    <a href="#"><img src="images/team/01.jpg" alt="Author"></a>
                                                </figure>
                                                <div class="comments-info">
                                                    <p class="m-0">Praesent bibendum risus pellentesque faucibus rhoncus.
                                                        Etiam a mollis
                                                        odio. Integer urna nisl, fermentum eu mollis et, gravida eu
                                                        elit.</p>
                                                    <div class="comment-footer mt-8 d-flex justify-content-between">
                                                        <a href="#" class="author"><strong>Duy</strong> - July 30, 2018</a>
                                                        <a href="#" class="btn-reply"><i class="fa fa-reply"></i> Reply</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="single-comment-wrap comment-reply d-flex">
                                                <figure class="author-thumb">
                                                    <a href="#"><img src="images/team/02.jpg" alt="Author"></a>
                                                </figure>
                                                <div class="comments-info">
                                                    <p class="m-0">Praesent bibendum risus pellentesque faucibus rhoncus.
                                                        Etiam a mollis
                                                        odio. Integer urna nisl, fermentum eu mollis et, gravida eu
                                                        elit.</p>
                                                    <div class="comment-footer d-flex justify-content-between">
                                                        <a href="#" class="author"><strong>Deo</strong> - July 30, 2018</a>
                                                        <a href="#" class="btn-reply"><i class="fa fa-reply"></i> Reply</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="single-comment-wrap d-flex">
                                                <figure class="author-thumb">
                                                    <a href="#"><img src="images/team/03.jpg" alt="Author"></a>
                                                </figure>
                                                <div class="comments-info">
                                                    <p class="m-0">Praesent bibendum risus pellentesque faucibus rhoncus.
                                                        Etiam a mollis
                                                        odio. Integer urna nisl, fermentum eu mollis et, gravida eu
                                                        elit.</p>
                                                    <div class="comment-footer d-flex justify-content-between">
                                                        <a href="#" class="author"><strong>Alex</strong> - July 30, 2018</a>
                                                        <a href="#" class="btn-reply"><i class="fa fa-reply"></i> Reply</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="single-comment-wrap d-flex">
                                                <figure class="author-thumb">
                                                    <a href="#"><img src="images/team/04.jpg" alt="Author"></a>
                                                </figure>
                                                <div class="comments-info">
                                                    <p class="m-0">Praesent bibendum risus pellentesque faucibus rhoncus.
                                                        Etiam a mollis
                                                        odio. Integer urna nisl, fermentum eu mollis et, gravida eu
                                                        elit.</p>
                                                    <div class="comment-footer d-flex justify-content-between">
                                                        <a href="#" class="author"><strong>Afex</strong> - July 30, 2018</a>
                                                        <a href="#" class="btn-reply"><i class="fa fa-reply"></i> Reply</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="single-comment-wrap comment-reply d-flex">
                                                <figure class="author-thumb">
                                                    <a href="#"><img src="images/team/05.jpg" alt="Author"></a>
                                                </figure>
                                                <div class="comments-info">
                                                    <p class="m-0">Praesent bibendum risus pellentesque faucibus rhoncus.
                                                        Etiam a mollis
                                                        odio. Integer urna nisl, fermentum eu mollis et, gravida eu
                                                        elit.</p>
                                                    <div class="comment-footer d-flex justify-content-between">
                                                        <a href="#" class="author"><strong>Tuntuni</strong> - July 30, 2018</a>
                                                        <a href="#" class="btn-reply"><i class="fa fa-reply"></i> Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="comment-box-form mt-50 mt-sm-35">
                                            <h3>Leave your thought</h3>
                                            <form action="#">
                                                <div class="row row-20">
                                                    <div class="col-12">
                                                        <div class="single-input-item">
                                                            <textarea name="comments" id="comments" cols="30" rows="5" placeholder="Write your Message*" required></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="single-input-item">
                                                            <input type="text" placeholder="Name*" required />
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="single-input-item">
                                                            <input type="email" placeholder="Email*" required />
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="single-input-item ">
                                                            <input type="url" placeholder="Website" />
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <button class="btn btn-outline w-100">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!--== End Blog Details Page Content ==-->

    <% include global/footer %>

    <% include global/foot %>

</body>

</html>
