<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>Blog Grid</title>

<body>

    <% include global/header %>

    <!--== Start Blog Page Area Wrapper ==-->
    <div class="blog-page-content-area sp-y">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-content-wrapper">
                        <div class="row mtn-30">
                            <div class="col-md-6 col-lg-4">
                                <div class="blog-item">
                                    <figure class="blog-thumb">
                                        <a href="blog-details.html"><img src="images/service/01.jpg" alt="Businex-Blog" /></a>
                                    </figure>
                                    <div class="blog-content">
                                        <h2 class="h5"><a href="blog-details.html">Master Business Plan</a></h2>
                                        <p>We have great creative team they always ready
                                            to helped you. voluptatem quiase voluptase
                                            aspernatur auted fugit</p>

                                        <div class="blog-meta">
                                            <a href="#">By: Mohin Smith</a>
                                            <a href="#">May 03, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="blog-item">
                                    <figure class="blog-thumb">
                                        <a href="blog-details.html"><img src="images/service/02.jpg" alt="Businex-Blog" /></a>
                                    </figure>
                                    <div class="blog-content">
                                        <h2 class="h5"><a href="blog-details.html">Corporate Conference 2019</a></h2>
                                        <p>We have great creative team they always ready
                                            to helped you. voluptatem quiase voluptase
                                            aspernatur auted fugit</p>

                                        <div class="blog-meta">
                                            <a href="#">By: Raju Ahammad</a>
                                            <a href="#">May 04, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="blog-item">
                                    <figure class="blog-thumb">
                                        <a href="blog-details.html"><img src="images/service/03.jpg" alt="Businex-Blog" /></a>
                                    </figure>
                                    <div class="blog-content">
                                        <h2 class="h5"><a href="blog-details.html">New Business Strategy</a></h2>
                                        <p>We have great creative team they always ready
                                            to helped you. voluptatem quiase voluptase
                                            aspernatur auted fugit</p>

                                        <div class="blog-meta">
                                            <a href="#">By: Raju Ahammad</a>
                                            <a href="#">May 04, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="blog-item">
                                    <figure class="blog-thumb">
                                        <a href="blog-details.html"><img src="images/service/04.jpg" alt="Businex-Blog" /></a>
                                    </figure>
                                    <div class="blog-content">
                                        <h2 class="h5"><a href="blog-details.html">Master Business Plan</a></h2>
                                        <p>We have great creative team they always ready
                                            to helped you. voluptatem quiase voluptase
                                            aspernatur auted fugit</p>

                                        <div class="blog-meta">
                                            <a href="#">By: Mohin Smith</a>
                                            <a href="#">May 03, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="blog-item">
                                    <figure class="blog-thumb">
                                        <a href="blog-details.html"><img src="images/service/05.jpg" alt="Businex-Blog" /></a>
                                    </figure>
                                    <div class="blog-content">
                                        <h2 class="h5"><a href="blog-details.html">Corporate Conference 2019</a></h2>
                                        <p>We have great creative team they always ready
                                            to helped you. voluptatem quiase voluptase
                                            aspernatur auted fugit</p>

                                        <div class="blog-meta">
                                            <a href="#">By: Raju Ahammad</a>
                                            <a href="#">May 04, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="blog-item">
                                    <figure class="blog-thumb">
                                        <a href="blog-details.html"><img src="images/service/06.jpg" alt="Businex-Blog" /></a>
                                    </figure>
                                    <div class="blog-content">
                                        <h2 class="h5"><a href="blog-details.html">New Business Strategy</a></h2>
                                        <p>We have great creative team they always ready
                                            to helped you. voluptatem quiase voluptase
                                            aspernatur auted fugit</p>

                                        <div class="blog-meta">
                                            <a href="#">By: Raju Ahammad</a>
                                            <a href="#">May 04, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination-wrap">
                        <ul class="pagination">
                            <li class="prev"><a href="#"><i class="fa fa-long-arrow-left"></i> Previous</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#">Next <i class="fa fa-long-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Blog Page Area Wrapper ==-->

    <% include global/footer %>

    <% include global/foot %>

</body>

</html>
