<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>Blog Left Sidebar</title>

<body>

    <% include global/header %>

    <!--== Start Blog Page Area Wrapper ==-->
    <div class="blog-page-content-area sp-y">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-1 order-lg-0">
                    <aside class="sidebar-area-wrapper mt-md-80 mt-sm-60">
                        <!-- Start Single Sidebar Wrap -->
                        <div class="single-sidebar-item-wrap">
                            <h3 class="sidebar-title">Categories</h3>
                            <div class="sidebar-body">
                                <ul class="sidebar-list">
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Furniture</a></li>
                                    <li><a href="#">Interior</a></li>
                                    <li><a href="#">Lifestyle</a></li>
                                    <li><a href="#">Media</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Sidebar Wrap -->

                        <!-- Start Single Sidebar Wrap -->
                        <div class="single-sidebar-item-wrap">
                            <h3 class="sidebar-title">Featured Posts</h3>
                            <div class="sidebar-body">
                                <div class="latest-blog-widget">
                                    <div class="single-blog-item">
                                        <div class="post-thumb">
                                            <a href="blog-details.html"><img src="images/service/01.jpg" alt="Thumb" /></a>
                                        </div>

                                        <div class="post-info">
                                            <h6><a href="blog-details.html">Lorem ipsum dolor sit.</a></h6>
                                            <span class="post-date"><i class="fa fa-clock-o"></i>  March 9, 2019</span>
                                        </div>
                                    </div>

                                    <div class="single-blog-item">
                                        <div class="post-thumb">
                                            <a href="blog-details.html"><img src="images/service/02.jpg" alt="Thumb" /></a>
                                        </div>

                                        <div class="post-info">
                                            <h6><a href="blog-details.html">Creating electronic beats</a></h6>
                                            <span class="post-date"><i class="fa fa-clock-o"></i>  March 9, 2019</span>
                                        </div>
                                    </div>

                                    <div class="single-blog-item">
                                        <div class="post-thumb">
                                            <a href="blog-details.html"><img src="images/service/03.jpg" alt="Thumb" /></a>
                                        </div>
                                        <div class="post-info">
                                            <h6><a href="blog-details.html">Mysterious Black</a></h6>
                                            <span class="post-date"><i class="fa fa-clock-o"></i>  March 9, 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Sidebar Wrap -->

                        <!-- Start Single Sidebar Wrap -->
                        <div class="single-sidebar-item-wrap">
                            <div class="sidebar-body">
                                <div class="sidebar-newsletter">
                                    <h3>Newsletter</h3>
                                    <form action="#" method="post">
                                        <input type="email" placeholder="Your Email Address" />
                                        <button class="btn btn-brand">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Sidebar Wrap -->

                        <!-- Start Single Sidebar Wrap -->
                        <div class="single-sidebar-item-wrap">
                            <h3 class="sidebar-title">Instagram</h3>
                            <div class="sidebar-body">
                                <div class="instagram-feed">
                                    <div id="instafeed" class="instagram-gallery" data-userid="6666331798" data-accesstoken="6666331798.1677ed0.9c019517e4fb4e79a82a98483e4af3b5">
                                    </div>

                                    <h4 class="insta-follow"><i class="fa fa-instagram"></i> Follow Us <a href="#" target="_blank">@businex</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Sidebar Wrap -->

                        <!-- Start Single Sidebar Wrap -->
                        <div class="single-sidebar-item-wrap">
                            <div class="sidebar-body">
                                <a href="#"><img src="images/banner-poster.jpg" alt="Poster"></a>
                            </div>
                        </div>
                        <!-- End Single Sidebar Wrap -->
                    </aside>
                </div>

                <div class="col-lg-9 order-0">
                    <div class="blog-content-wrapper">
                        <div class="row mtn-30">
                            <div class="col-md-6">
                                <div class="blog-item">
                                    <figure class="blog-thumb">
                                        <a href="blog-details.html"><img src="images/service/01.jpg" alt="Businex-Blog" /></a>
                                    </figure>
                                    <div class="blog-content">
                                        <h2 class="h5"><a href="blog-details.html">Master Business Plan</a></h2>
                                        <p>We have great creative team they always ready
                                            to helped you. voluptatem quiase voluptase
                                            aspernatur auted fugit</p>

                                        <div class="blog-meta">
                                            <a href="#">By: Mohin Smith</a>
                                            <a href="#">May 03, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="blog-item">
                                    <figure class="blog-thumb">
                                        <a href="blog-details.html"><img src="images/service/02.jpg" alt="Businex-Blog" /></a>
                                    </figure>
                                    <div class="blog-content">
                                        <h2 class="h5"><a href="blog-details.html">Corporate Conference 2019</a></h2>
                                        <p>We have great creative team they always ready
                                            to helped you. voluptatem quiase voluptase
                                            aspernatur auted fugit</p>

                                        <div class="blog-meta">
                                            <a href="#">By: Raju Ahammad</a>
                                            <a href="#">May 04, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="blog-item">
                                    <figure class="blog-thumb">
                                        <a href="blog-details.html"><img src="images/service/03.jpg" alt="Businex-Blog" /></a>
                                    </figure>
                                    <div class="blog-content">
                                        <h2 class="h5"><a href="blog-details.html">New Business Strategy</a></h2>
                                        <p>We have great creative team they always ready
                                            to helped you. voluptatem quiase voluptase
                                            aspernatur auted fugit</p>

                                        <div class="blog-meta">
                                            <a href="#">By: Raju Ahammad</a>
                                            <a href="#">May 04, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="blog-item">
                                    <figure class="blog-thumb">
                                        <a href="blog-details.html"><img src="images/service/04.jpg" alt="Businex-Blog" /></a>
                                    </figure>
                                    <div class="blog-content">
                                        <h2 class="h5"><a href="blog-details.html">Master Business Plan</a></h2>
                                        <p>We have great creative team they always ready
                                            to helped you. voluptatem quiase voluptase
                                            aspernatur auted fugit</p>

                                        <div class="blog-meta">
                                            <a href="#">By: Mohin Smith</a>
                                            <a href="#">May 03, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="blog-item">
                                    <figure class="blog-thumb">
                                        <a href="blog-details.html"><img src="images/service/05.jpg" alt="Businex-Blog" /></a>
                                    </figure>
                                    <div class="blog-content">
                                        <h2 class="h5"><a href="blog-details.html">Corporate Conference 2019</a></h2>
                                        <p>We have great creative team they always ready
                                            to helped you. voluptatem quiase voluptase
                                            aspernatur auted fugit</p>

                                        <div class="blog-meta">
                                            <a href="#">By: Raju Ahammad</a>
                                            <a href="#">May 04, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="blog-item">
                                    <figure class="blog-thumb">
                                        <a href="blog-details.html"><img src="images/service/06.jpg" alt="Businex-Blog" /></a>
                                    </figure>
                                    <div class="blog-content">
                                        <h2 class="h5"><a href="blog-details.html">New Business Strategy</a></h2>
                                        <p>We have great creative team they always ready
                                            to helped you. voluptatem quiase voluptase
                                            aspernatur auted fugit</p>

                                        <div class="blog-meta">
                                            <a href="#">By: Raju Ahammad</a>
                                            <a href="#">May 04, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination-wrap">
                        <ul class="pagination">
                            <li class="prev"><a href="#"><i class="fa fa-long-arrow-left"></i> Previous</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#">Next <i class="fa fa-long-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Blog Page Area Wrapper ==-->

    <% include global/footer %>

    <% include global/foot %>

</body>

</html>
