<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>Clients</title>

<body>

  <% include global/header %>

  <!--== Start Page Header Area ==-->
  <!-- remove top-div below
  <div class="page-header-area bg-img top-div" data-bg="images/page-header.jpg">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 col-xl-8 m-auto text-center">
                  <div class="page-header-content-inner">
                      <div class="page-header-content">
                          <h2>KNOW ABOUT BUSINEX THE ULTIMATE TEAM</h2>
                          <p>Businex always try to provide the best Business Solutions for Clinets
                              to grow up their Business very sharply and smoothly.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  -->
  <!--== End Page Header Area ==-->

  <!--== Start Page Content Area Wrapper ==-->
  <div class="clients-total-div">
  <div class="page-content-wrapper top-div">
      <div class="service-details-wrapper sm-top-2">
          <div class="container">
              <div class="row">
                <% if(locals.clients){ %>
                  <div class="col-lg-8">
                      <div class="service-details-content-client">
                        <h3 class="sidebar-heading">Some of Our Previous Clients</h3>
                        <div>
                          <div class="grid" data-masonry='{ "columnWidth": 200, "itemSelector": ".grid-item", "gutter": 10, "fitWidth": true }'>
                            <% for (var i=0; i < clients.length; i++){ %>
                            <div class="grid-item"><a target="_blank" rel="noopener noreferrer" href="<%- clients[i].url %>"><img src="<%- clients[i].photo %>"></a></div>
                            <% } %>
                          </div>
                        </div>
                      </div>
                  </div>
                <% } %>

                  <div class="col-lg-4 mtn-40">
                      <div class="sidebar-wrap mt-sm-90 mt-md-100">
                          <!-- Start Sidebar Item -->
                          <!--
                          <div class="sidebar-single">
                              <h3 class="sidebar-heading">Services</h3>
                              <div class="sidebar-body">
                                  <ul class="service-list">
                                      <li><a href="service-details.html">Creative Ideas</a></li>
                                      <li><a href="service-details.html">Digital Solutions</a></li>
                                      <li><a href="service-details.html">Brand & Communication</a></li>
                                      <li><a href="service-details.html">Creative Strategy</a></li>
                                      <li><a href="service-details.html">Marketing Policy</a></li>
                                      <li><a href="service-details.html">Campaign & PR</a></li>
                                  </ul>
                              </div>
                          </div>
                        -->
                          <!-- End Sidebar Item -->

                          <!-- Start Sidebar Item -->
                          <div class="sidebar-single">
                              <h3 class="sidebar-heading">Client Deck</h3>
                              <div class="sidebar-body">
                                  <ul class="service-list">
                                      <li><a target="_blank" href='/documents/WMC Client Deck.pdf'><i class="fa fa-file-pdf-o"></i>WMC Client Deck.pdf</a></li>
                                      <!--<li><a href="#"><i class="fa fa-file-word-o"></i>Brochures.DOC</a></li>-->
                                  </ul>
                              </div>
                          </div>
                          <!-- End Sidebar Item -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--== End Page Content Area Wrapper ==-->

  <div class="service-details-info">
      <h3>Become a Client</h3>
      <p>WMC can help your business or firm! We are looking for clients for our pro bono consulting program and we would love to work with your business.
</p>

      <div class="about-service mt-50 mt-sm-35">
          <h4>What we can do for you</h4>
          <p>We can help develop new strategies and ideas for reaching your business goals, completely free of charge.  Our Applied Management Program utilizes the teachings of top Wharton professors and the ideas of a creative, driven, and talented group of students to offer your business transformative advice and ideas.  Our work with clients has resulted in significant brand promotion and revenue growth in the past.
</p>

          <ul class="service-feature">
            <li>We can carry out market research and utilize cutting-edge business analysis tools taught at Wharton to inform the advice and ideas we give you.</li>
            <li>With the help of our marketing and engineering members (we are not all in Wharton concentrating in management), we can help you grow your brand influence and optimize your utilization of tech for marketing (e.g. website quality, SEO) and operations (e.g. analytics, modeling).</li>
            <li>With current, first-hand experience and connections, we can help you break into the college student market.
            </li>
              <li>We can work on any tasks or projects you have for us, big or small.
              </li>

          </ul>
      </div>



          <div class="how-we-works-wrap mt-50 mt-sm-35">
              <h4>Contact</h4>
              <p>For more information or to inquire about becoming a client, contact VP of Corporate Relations, <span id="vp_relations_name"></span> at <a id="vp_relations_email" href=""></a>.
              </div>
          <!--
          <div class="how-we-works-content">
              <div class="row">
                  <div class="col-md-6">
                      <div class="icon-box-item">
                          <div class="icon-box__icon">
                              <img src="images/service/icon/strategy.png" alt="Businex - How we work" />
                          </div>
                          <div class="icon-box__info">
                              <h5>Case Strategy</h5>
                              <p>voluptatum deleniti atqued corrupti cepturi
                                  sinte aeted psamtem quia voluptas sit aut odit aut
                                  fugit. </p>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="icon-box-item">
                          <div class="icon-box__icon">
                              <img src="images/service/icon/track-record.png" alt="Businex - How we work" />
                          </div>
                          <div class="icon-box__info">
                              <h5>Track Record</h5>
                              <p>voluptatum deleniti atqued corrupti cepturi
                                  sinte aeted psamtem quia voluptas sit aut odit aut
                                  fugit. </p>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="icon-box-item">
                          <div class="icon-box__icon">
                              <img src="images/service/icon/research.png" alt="Businex - How we work" />
                          </div>
                          <div class="icon-box__info">
                              <h5>Research & Investigation</h5>
                              <p>voluptatum deleniti atqued corrupti cepturi
                                  sinte aeted psamtem quia voluptas sit aut odit aut
                                  fugit. </p>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="icon-box-item">
                          <div class="icon-box__icon">
                              <img src="images/service/icon/analysis.png" alt="Businex - How we work" />
                          </div>
                          <div class="icon-box__info">
                              <h5>Case Analysis</h5>
                              <p>voluptatum deleniti atqued corrupti cepturi
                                  sinte aeted psamtem quia voluptas sit aut odit aut
                                  fugit. </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          -->


  </div>
</div>



  <!--== Start Fun Fact Area Wrapper ==-->
<!--
  <div style="margin-bottom:0px" class="fun-fact-area sm-top parallax" data-parallax-speed="0.70" data-bg="images/fun-fact-bg.jpg">
      <div class="container">
          <div class="row mtn-40">
              <div class="col-6 col-md-3 text-center">
                  <div class="counter-item">
                      <h2 class="counter-number"><span class="counter">2654</span></h2>
                      <h6 class="counter-txt">Happy Clients</h6>
                  </div>
              </div>

              <div class="col-6 col-md-3 text-center">
                  <div class="counter-item">
                      <h2 class="counter-number"><span class="counter">1520</span></h2>
                      <h6 class="counter-txt">Project Done</h6>
                  </div>
              </div>

              <div class="col-6 col-md-3 text-center">
                  <div class="counter-item">
                      <h2 class="counter-number"><span class="counter">120</span></h2>
                      <h6 class="counter-txt">Awards Win</h6>
                  </div>
              </div>


              <div class="col-6 col-md-3 text-center">
                  <div class="counter-item">
                      <h2 class="counter-number"><span class="counter">3580</span></h2>
                      <h6 class="counter-txt">Cups Coffee</h6>
                  </div>
              </div>
          </div>
      </div>
  </div>
-->
  <!--== End Fun Fact Area Wrapper ==-->

  <% include global/footer %>

  <% include global/foot %>

</body>

</html>
