<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>Contact</title>

<body>

    <% include global/header %>

    <div class="about-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="about-content about-content--2">

                        <h4>Contact Us</h2>

                        <p style="padding-top:10px">For client inquiries or questions about our Applied Management Program, contact <span id="vp_relations_name"></span> at <a id="vp_relations_email" target="_blank" href=""></a>
                        </p><p>For sponsor inquiries or questions about our Finance Comittee, contact <span id="vp_finance_name"></span> at <a id="vp_finance_email" target="_blank" href=""></a>
                        </p><p>For speaking inquiries or questions about our Speakers and Events Comittee, contact <span id="vp_sae_name"></span> at <a id="vp_sae_email" target="_blank" href=""></a>
                        </p><p>For general questions, email <a target="_blank" href="mailto:whartonmanagementclub.coms@gmail.com">whartonmanagementclub.coms@gmail.com</a></p>
                        <br><br>

                        <h4>WMC Mailing List</h4>
                          <p style="padding-top:10px">  Sign up <a target="_blank" href="http://eepurl.com/gC3Lfz">here</a> to receive emails from the WMC list-serv. 
                            We send out emails announcing events like roundtables with prominent leaders from various different industries, case competitions, and social events. 
                            We also send out recruiting opportunities for consulting, finance, and other fields of business. 
                            From time to time we send out updates about the club or other information relevant to WMC.</p>

                        <br><br>
                        <h4>Our Other Sites</h2>

                        <p style="padding-top:10px">If you are a Penn student interested in WMC, check out <a target="_blank" href="https://pennclubs.com/club/wharton-management-club">our page on Penn Clubs</a>.
                          We often post events to our <a target="_blank" href="https://www.facebook.com/whartonmanagementclub">Facebook Page</a>,
                          though they are always also announced via email to our mailing list subscribers (sign up above).</p>
                          <br>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include global/footer %>

    <% include global/foot %>

</body>

</html>
