<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>Contact</title>

<body>

    <% include global/header %>

    <div class="about-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="about-content about-content--2">

                        <h4>Contact Us</h2>

                        <p style="padding-top:10px">For client inquiries or questions about our Applied Management Program, contact VP Julia Ellis at <a href="mailto:jsellis@wharton.upenn.edu">jsellis@wharton.upenn.edu</a>
                        </p><p>For sponsor inquiries or questions about our professional relations and finance comittee, contact VP Monica Volodarksy at <a href="mailto:movolo@wharton.upenn.edu">movolo@wharton.upenn.edu</a>
                        </p><p>For speaking inquiries or questions about our speakers and events comittee, contact VP Jordan Taylor <a href="mailto:tjord@wharton.upenn.edu">tjord@wharton.upenn.edu</a>
                        </p><p>For general questions, email <a href="mailto:whartonmanagementclub.coms@gmail.com">whartonmanagementclub.coms@gmail.com</a>

                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include global/footer %>

    <% include global/foot %>

</body>

</html>
