<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>Contact</title>

<body>

    <% include global/header %>

    <!--== Start Contact Page Area Wrapper ==-->
    <div class="contact-page-area-wrapper sp-y">
        <div class="container">
            <div class="contact-content-wrap">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="contact-form-area contact-method">
                            <h3>Send us a Message</h3>

                            <div class="contact-form-wrap">
                                <form action="http://whizthemes.com/mail-php/raju/businex/mail.php" method="post" id="contact-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="single-input-item">
                                                <label>
                                                    <input type="text" name="first_name" placeholder="First Name *" required />
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="single-input-item">
                                                <label>
                                                    <input type="text" name="last_name" placeholder="Last Name *" required />
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="single-input-item">
                                                <label>
                                                    <input type="email" name="email_address" placeholder="Email address *" required />
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="single-input-item">
                                                <label>
                                                    <input type="text" name="phone_no" placeholder="Your Phone" />
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="single-input-item">
                                                <label for="con_message" class="sr-only m-0"></label>
                                                <textarea name="con_message" id="con_message" cols="30" rows="7" placeholder="Message *" required></textarea>
                                            </div>

                                            <div class="single-input-item mb-0 mt-40">
                                                <button class="btn-outline">Send Message</button>
                                            </div>

                                            <div class="form-message"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="contact-information contact-method">
                            <div class="contact-info-con">
                                <h3>Contact Info</h3>

                                <div class="widget-item m-0">
                                    <address>
                                        2005 Stokes Isle Apartment. 896, Washington 10010, USA
                                        <br>
                                   https://example.com
                                        <br>
                                   hello@example.com
                                        <br>
                                   (+68) 120034509
                               </address>
                                </div>
                                <div class="member-social-icons mt-30">
                                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                                    <a href="#"><i class="mdi mdi-linkedin"></i></a>
                                    <a href="#"><i class="mdi mdi-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Contact Page Area Wrapper ==-->

    <% include global/footer %>

    <% include global/foot %>

</body>

</html>
