<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>FAQ</title>

<body>

    <% include global/header %>

    <!-- Start FAQ Area Wrapper -->
    <div class="faq-area-wrapper sm-top-wt">
        <div class="container">
            <div class="row mtn-50">
                <div class="col-lg-6">
                    <!-- General Question Faq Start-->
                    <div class="single-subject-by-faq-wrap">

                        <h2>General Question</h2>

                        <div class="general-question-faq brand-accordion">
                            <div class="accordion" id="generalQuestions">
                                <!-- Start Single Accordion Wrap -->
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true">15+ Premade Unique
                                                Demos
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseFour" class="collapse show" data-parent="#generalQuestions">
                                        <div class="card-body">
                                            <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum
                                                ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit.
                                                Nullam viverra est quis erat fringilla, at rutrum sem lacinia.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Accordion Wrap -->

                                <!-- Start Single Accordion Wrap -->
                                <div class="card">
                                    <div class="card-header" id="headingFive">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFive">Unique Shop Layout
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#generalQuestions">
                                        <div class="card-body">
                                            <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum
                                                ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit.
                                                Nullam viverra est quis erat fringilla, at rutrum sem lacinia.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Accordion Wrap -->

                                <!-- Start Single Accordion Wrap -->
                                <div class="card">
                                    <div class="card-header" id="headingSix">
                                        <h5 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseSix">15+ Premade Unique Demos
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseSix" class="collapse" data-parent="#generalQuestions">
                                        <div class="card-body">
                                            <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum
                                                ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit.
                                                Nullam viverra est quis erat fringilla, at rutrum sem lacinia.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Accordion Wrap -->

                                <!-- Start Single Accordion Wrap -->
                                <div class="card">
                                    <div class="card-header" id="headingSeven">
                                        <h5 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseSeven">15+ Premade Unique Demos
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseSeven" class="collapse" data-parent="#generalQuestions">
                                        <div class="card-body">
                                            <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum
                                                ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit.
                                                Nullam viverra est quis erat fringilla, at rutrum sem lacinia.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Accordion Wrap -->

                                <!-- Start Single Accordion Wrap -->
                                <div class="card">
                                    <div class="card-header" id="headingEight">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseEight">Unique Shop Layout
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseEight" class="collapse" data-parent="#generalQuestions">
                                        <div class="card-body">
                                            <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum
                                                ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit.
                                                Nullam viverra est quis erat fringilla, at rutrum sem lacinia.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Accordion Wrap -->

                                <!-- Start Single Accordion Wrap -->
                                <div class="card">
                                    <div class="card-header" id="headingNine">
                                        <h5 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseNine">15+ Premade Unique Demos
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseNine" class="collapse" data-parent="#generalQuestions">
                                        <div class="card-body">
                                            <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum
                                                ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit.
                                                Nullam viverra est quis erat fringilla, at rutrum sem lacinia.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Accordion Wrap -->
                            </div>
                        </div>
                    </div>
                    <!-- General Question Faq End-->
                </div>

                <div class="col-lg-6">
                    <!-- Payment & Gift Card Faq Start-->
                    <div class="single-subject-by-faq-wrap">

                        <h2>Payment & Gift card</h2>

                        <div class="payment-giftcard-faq brand-accordion">
                            <div class="accordion" id="paymentGift">
                                <!-- Start Single Accordion Wrap -->
                                <div class="card">
                                    <div class="card-header" id="paymentGiftHeadingOne">
                                        <h5 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse" data-target="#paymentGiftCollapseOne">15+ Premade Unique Demos
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="paymentGiftCollapseOne" class="collapse" data-parent="#paymentGift">
                                        <div class="card-body">
                                            <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum
                                                ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit.
                                                Nullam viverra est quis erat fringilla, at rutrum sem lacinia.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Accordion Wrap -->

                                <!-- Start Single Accordion Wrap -->
                                <div class="card">
                                    <div class="card-header" id="paymentGiftHeadingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#paymentGiftCollapseTwo">Unique Shop Layout
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="paymentGiftCollapseTwo" class="collapse" data-parent="#paymentGift">
                                        <div class="card-body">
                                            <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum
                                                ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit.
                                                Nullam viverra est quis erat fringilla, at rutrum sem lacinia.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Accordion Wrap -->

                                <!-- Start Single Accordion Wrap -->
                                <div class="card">
                                    <div class="card-header" id="paymentGiftHeadingThree">
                                        <h5 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse" data-target="#paymentGiftCollapseThree">15+ Premade Unique Demos
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="paymentGiftCollapseThree" class="collapse show" data-parent="#paymentGift">
                                        <div class="card-body">
                                            <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum
                                                ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit.
                                                Nullam viverra est quis erat fringilla, at rutrum sem lacinia.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Accordion Wrap -->

                                <!-- Start Single Accordion Wrap -->
                                <div class="card">
                                    <div class="card-header" id="paymentGiftHeadingFour">
                                        <h5 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse" data-target="#paymentGiftCollapseFour">15+ Premade Unique Demos
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="paymentGiftCollapseFour" class="collapse" data-parent="#paymentGift">
                                        <div class="card-body">
                                            <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum
                                                ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit.
                                                Nullam viverra est quis erat fringilla, at rutrum sem lacinia.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Accordion Wrap -->

                                <!-- Start Single Accordion Wrap -->
                                <div class="card">
                                    <div class="card-header" id="paymentGiftHeadingFive">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#paymentGiftCollapseFive">Unique Shop Layout
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="paymentGiftCollapseFive" class="collapse" data-parent="#paymentGift">
                                        <div class="card-body">
                                            <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum
                                                ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit.
                                                Nullam viverra est quis erat fringilla, at rutrum sem lacinia.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Accordion Wrap -->

                                <!-- Start Single Accordion Wrap -->
                                <div class="card">
                                    <div class="card-header" id="paymentGiftHeadingSix">
                                        <h5 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse" data-target="#paymentGiftCollapseSix">15+ Premade Unique Demos
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="paymentGiftCollapseSix" class="collapse" data-parent="#paymentGift">
                                        <div class="card-body">
                                            <p>Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum
                                                ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit.
                                                Nullam viverra est quis erat fringilla, at rutrum sem lacinia.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Accordion Wrap -->
                            </div>
                        </div>
                    </div>
                    <!-- Payment & Gift Card Faq End-->
                </div>
            </div>
        </div>
    </div>
    <!-- End FAQ Area Wrapper -->

    <!--== Start Team Area Wrapper ==-->
    <div class="team-area-wrapper bg-img sp-y sm-top" data-bg="images/team/team-bg.jpg">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="section-title section-title--light mb-lg-0">
                        <h6>Creative Team</h6>
                        <h2>We have great <br>creative team</h2>
                            <p><strong>Businex</strong> always try to provide the best Business Solutions
                                for Clients to grow up their Business sharp and smoothly.
                                We voluptatem voluptas aspernatur aut odit fugit, quia consequuur magni dolores eos qui ratione.</p>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="team-content-wrap slick-dots--light mtn-md-5">
                        <div class="team-mem-item">
                            <figure class="member-pic">
                                <img src="images/team/01.jpg" alt="Team-Businex" />
                            </figure>
                            <div class="member-info">
                                <h5><a href="team.html">Lucy Farnando</a></h5>
                                <span class="designation">CTO & Founder</span>
                            </div>
                        </div>
                        <div class="team-mem-item">
                            <figure class="member-pic">
                                <img src="images/team/02.jpg" alt="Team-Businex" />
                            </figure>
                            <div class="member-info">
                                <h5><a href="team.html">James Anderson</a></h5>
                                <span class="designation">Creative Head</span>
                            </div>
                        </div>

                        <div class="team-mem-item">
                            <figure class="member-pic">
                                <img src="images/team/03.jpg" alt="Team-Businex" />
                            </figure>
                            <div class="member-info">
                                <h5><a href="team.html">Thomas Nancy</a></h5>
                                <span class="designation">Marketing Head</span>
                            </div>
                        </div>

                        <div class="team-mem-item">
                            <figure class="member-pic">
                                <img src="images/team/04.jpg" alt="Team-Businex" />
                            </figure>
                            <div class="member-info">
                                <h5><a href="team.html">Nail Mathue</a></h5>
                                <span class="designation">Head of Research</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Team Area Wrapper ==-->

    <!--== Start Brand Logo Area Wrapper ==-->
    <div class="brand-logo-area sm-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-logo-content slick-row-20">
                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/01.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/02.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/03.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/04.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/05.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/03.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/01.png" alt="Businex-Logo" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Brand Logo Area Wrapper ==-->

    <!--== Start Fun Fact Area Wrapper ==-->
    <div class="fun-fact-area sm-top parallax" data-parallax-speed="0.70" data-bg="images/fun-fact-bg.jpg">
        <div class="container">
            <div class="row mtn-40">
                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">2654</span></h2>
                        <h6 class="counter-txt">Happy Clients</h6>
                    </div>
                </div>

                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">1520</span></h2>
                        <h6 class="counter-txt">Project Done</h6>
                    </div>
                </div>

                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">120</span></h2>
                        <h6 class="counter-txt">Awards Win</h6>
                    </div>
                </div>


                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">3580</span></h2>
                        <h6 class="counter-txt">Cups Coffee</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Fun Fact Area Wrapper ==-->

    <% include global/footer %>

    <% include global/foot %>

</body>

</html>
