<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>Wharton Management Club</title>

<body>

    <% include global/header %>

    <!--== Start Slider Area Wrapper ==-->
    <img style="margin: 80.47px 0px 0px 0px; width: 100%" src="images/slider/jmhh.jpg" alt="Businex" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!--
    <div class="slider-area-wrapper">
        <div id="rev_slider_11_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="business-classic" data-source="gallery">
            <div id="rev_slider_11_1" class="rev_slider fullwidthabanner" data-version="5.4.7">
                <ul>
                  <img src="images/slider/jmhh.jpg" alt="Businex" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" class="rev-slidebg" data-no-retina>-->
                    <!-- SLIDE  -->
                    <!--<li data-index="rs-27" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/slider/01_thumb.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide">-->
                        <!-- MAIN IMAGE -->
                        <!--<img src="images/slider/jmhh.jpg" alt="Businex" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" class="rev-slidebg" data-no-retina>-->
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <!--
                        <div class="tp-caption tp-resizeme slide-heading" data-x="['left','left','left','left']" data-hoffset="['135','135','40','40']" data-y="['top','top','top','top']" data-voffset="['250','204','200','201']" data-fontsize="['60','60','50','30']" data-fontweight="['600']" data-lineheight="['70','70','60','40']" data-width="['650','650','600','320']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"split":"lines","splitdelay":0.1,"speed":600,"split_direction":"forward","frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textAlign="['left']">
                            GROW YOUR <br> BUSINESS WITH US
                    </div>-->

                            <!-- LAYER NR. 2 -->
                            <!--
                            <div class="tp-caption tp-resizeme slide-txt" data-x="['left','left','left','left']" data-hoffset="['135','135','40','40']" data-y="['top','top','top','top']" data-voffset="['400','370','370','300']" data-fontsize="['16','20','20','20']" data-fontweight="['400','400','400','400']" data-width="['600','600','600','320']" data-height="none" data-whitespace="normal" data-visibility="['on','on','on','on']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":360,"split":"lines","splitdelay":0.1,"speed":500,"split_direction":"forward","frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                Businex always try to provide the best Business Solutions for Clinets to grow up their Business
                                very sharply and smoothly.

                            </div>
                          -->

                            <!-- LAYER NR. 3 -->
                            <!--
                            <div class="tp-caption Button-Outline-Secondary rev-btn" id="slide-27-layer-11" data-x="['left','left','left','left']" data-hoffset="['135','135','45','40']" data-y="['top','top','top','top']" data-voffset="['490','470','490','465']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":650,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"350","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgb(8, 11, 26);"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[40,40,40,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[40,40,40,30]">Learn More
                            </div>
                          -->
                          <!--
                    </li>

                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
    </div>
  -->
    <!--== End Slider Area Wrapper ==-->

    <!--== Start About Area Wrapper ==-->
    <div class="about-area-wrapper sm-top">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-md-6 col-lg-5">
                    <figure class="about-thumb">
                        <img src="images/nodes.jpg" alt="Businex-About" />
                    </figure>
                </div>

                <div class="col-md-6 col-lg-7">
                    <div class="about-content">
                        <h2>Wharton Management Club</h2>
                            <span class="about-since">Since 2011</span>
                            <p style="font-size:18px;">The Premier Club at Wharton for Students Interested in Management, Leadership, and Consulting</p>
                            <a href="/about" class="btn-about">ABOUT <i class="mdi mdi-chevron-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End About Area Wrapper ==-->

    <!--== Start Service Area Wrapper ==-->
    <div class="service-area-wrapper" style="padding:50px 0px">
        <div class="service-area-top"> <!-- data-bg="images/service/service-bg.jpg" -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5 m-auto text-center">
                        <div class="section-title section-title--light">
                            <h3 class="mb-0">STAKEHOLDERS</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-content-area">
            <div class="container">
                <div class="row mtn-30" style="margin:0% 6%;">
                    <div class="col-sm-6 col-lg-4">
                        <!-- Start Service Item -->
                        <div class="service-item">
                            <figure class="service-thumb">
                                <a href="/about"><img src="images/members.png" alt="Businex-Service" /></a>

                                <figcaption class="service-txt">
                                    <h5>Members</h5>
                                </figcaption>
                            </figure>
                            <div class="service-content">
                                <div class="service-content-inner">
                                    <h5><a href="/about" class="stretched-link"></a>Members</h5>
                                    <p class="client-text">Click to learn about club activities focused on benefiting and educating our members and to meet our current members.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Service Item -->
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <!-- Start Service Item -->
                        <div class="service-item">
                            <figure class="service-thumb">
                                <a href="/clients"><img src="images/clients.png" alt="Businex-Service" /></a>

                                <figcaption class="service-txt">
                                    <h5>Clients</h5>
                                </figcaption>
                            </figure>

                            <div class="service-content">
                                <div class="service-content-inner">
                                    <h5><a href="/clients" class="stretched-link">Clients</a></h5>
                                    <p class="client-text">Click to meet our current clients or to find information for prospective clients of our pro-bono consulting services.</p><p class="client-text">We can help develop new strategies and ideas for reaching your business goals, completely free of charge.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Service Item -->
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <!-- Start Service Item -->
                        <div class="service-item">
                            <figure class="service-thumb">
                                <a href="/sponsors"><img src="images/sponsors.png" alt="Businex-Service" /></a>

                                <figcaption class="service-txt">
                                    <h5>Sponsors</h5>
                                </figcaption>
                            </figure>

                            <div class="service-content">
                                <div class="service-content-inner">
                                    <h5><a href="/sponsors" class="stretched-link">Sponsors</a></h5>
                                    <p class="client-text">Click to meet our current sponsors or to find information for prospective sponsors.</p><p class="client-text">We can connect your company with our members as well as the hundreds of students on our list-serv, and much more.  Find out what we can do for you!</p>
                                </div>
                            </div>
                            <!-- End Service Item -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--== End Service Area Wrapper ==-->

    <!--== Start Testimonial Area Wrapper ==-->
    <!--
    <div class="testimonial-area bg-offwhite sp-y sm-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-title mb-0">
                        <h6>TESTIMONIALS</h6>
                        <h2>Our Customer <br>Loves What we do</h2>
                            <p><strong>Businex</strong> always try to provide the best Business Solutions for Clinets
                                to grow up their Business very sharply and smoothly. We voluptatem
                                quia voluptas sit aspernatur aut odit fugit, sed quia consequuur
                                magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    </div>

                    <div class="testimonial-carousel-dots"></div>
                </div>

                <div class="col-lg-6 ml-auto">
                    <div class="testimonial-content-wrap">
                        <div class="testimonial-content">
                            <div class="testimonial-item">
                                <div class="testimonial-thumb">
                                    <img src="images/testimonial/client-01.jpg" alt="Businex" />
                                </div>

                                <div class="testimonial-txt">
                                    <img src="images/icons/quote.png" alt="Businex" />
                                    <p>Very much happy with provide the best
                                        Business Solutions for Clients to grow up
                                        their Business very sharply.</p>
                                    <h5 class="client-name">David Loyed</h5>
                                </div>
                            </div>

                            <div class="testimonial-item">
                                <div class="testimonial-thumb">
                                    <img src="images/testimonial/client-02.jpg" alt="Businex" />
                                </div>

                                <div class="testimonial-txt">
                                    <img src="images/icons/quote.png" alt="Businex" />
                                    <p>Very much happy with provide the best
                                        Business Solutions for Clients to grow up
                                        their Business very sharply.</p>
                                    <h5 class="client-name">Alex Tuntuni</h5>
                                </div>
                            </div>


                            <div class="testimonial-item">
                                <div class="testimonial-thumb">
                                    <img src="images/testimonial/client-03.jpg" alt="Businex" />
                                </div>

                                <div class="testimonial-txt">
                                    <img src="images/icons/quote.png" alt="Businex" />
                                    <p>Very much happy with provide the best
                                        Business Solutions for Clients to grow up
                                        their Business very sharply.</p>
                                    <h5 class="client-name">John Fault</h5>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--== End Testimonial Area Wrapper ==-->

    <!--== Start Team Area Wrapper ==-->
    <!--
    <div class="team-area-wrapper bg-img sp-y" data-bg="images/team/team-bg.jpg">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="section-title section-title--light mb-lg-0">
                        <h6>Creative Team</h6>
                        <h2>We have great <br>creative team</h2>
                            <p><strong>Businex</strong> always try to provide the best Business Solutions
                                for Clients to grow up their Business sharp and smoothly.
                                We voluptatem voluptas aspernatur aut odit fugit, quia consequuur magni dolores eos qui ratione.</p>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="team-content-wrap slick-dots--light mtn-md-5">
                        <div class="team-mem-item">
                            <figure class="member-pic">
                                <img src="images/team/01.jpg" alt="Team-Businex" />
                            </figure>
                            <div class="member-info">
                                <h5><a href="team-details.html" class="stretched-link">Lucy Farnando</a></h5>
                                <span class="designation">CTO & Founder</span>
                            </div>
                        </div>

                        <div class="team-mem-item">
                            <figure class="member-pic">
                                <img src="images/team/02.jpg" alt="Team-Businex" />
                            </figure>
                            <div class="member-info">
                                <h5><a href="team-details.html" class="stretched-link">James Anderson</a></h5>
                                <span class="designation">Creative Head</span>
                            </div>
                        </div>

                        <div class="team-mem-item">
                            <figure class="member-pic">
                                <img src="images/team/03.jpg" alt="Team-Businex" />
                            </figure>
                            <div class="member-info">
                                <h5><a href="team-details.html" class="stretched-link">Thomas Nancy</a></h5>
                                <span class="designation">Marketing Head</span>
                            </div>
                        </div>

                        <div class="team-mem-item">
                            <figure class="member-pic">
                                <img src="images/team/04.jpg" alt="Team-Businex" />
                            </figure>
                            <div class="member-info">
                                <h5><a href="team-details.html" class="stretched-link">Nail Mathue</a></h5>
                                <span class="designation">Head of Research</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--== End Team Area Wrapper ==-->

    <!--== Start Blog Area Wrapper ==-->
    <!--
    <div class="blog-area-wrapper sm-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h6>Our Blog</h6>
                        <h2 class="mb-0">Latest update <br>from our blog post</h2>
                    </div>
                </div>
            </div>

            <div class="row mtn-35">
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-content">
                            <h2 class="h5"><a href="blog-details.html">New Business Strategy</a></h2>
                            <p>We have great creative team they always ready
                                to helped you. voluptatem quiase voluptase
                                aspernatur auted fugit</p>

                            <div class="blog-meta">
                                <a href="#">By: Albert Max</a>
                                <a href="#">May 01, 2019</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-content">
                            <h2 class="h5"><a href="blog-details.html">Master Business Plan</a></h2>
                            <p>We have great creative team they always ready
                                to helped you. voluptatem quiase voluptase
                                aspernatur auted fugit</p>

                            <div class="blog-meta">
                                <a href="#">By: Mohin Smith</a>
                                <a href="#">May 03, 2019</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-content">
                            <h2 class="h5"><a href="blog-details.html">Corporate Conference 2019</a></h2>
                            <p>We have great creative team they always ready
                                to helped you. voluptatem quiase voluptase
                                aspernatur auted fugit</p>

                            <div class="blog-meta">
                                <a href="#">By: Raju Ahammad</a>
                                <a href="#">May 04, 2019</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--== End Blog Area Wrapper ==-->

    <!--== Start Brand Logo Area Wrapper ==-->
    <div class="brand-logo-area bg-offwhite sm-top" style="padding: 50px 0px; margin:0px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-logo-content slick-row-20">
                        <div class="brand-logo-item">
                            <a target=”_blank” href="https://www.insightpartners.com/"><img src="images/brand-logo/insight.png" alt="Businex-Logo" /></a>
                        </div>
                        <div class="brand-logo-item">
                            <a target=”_blank” href="https://www.kantar.com/"><img src="images/brand-logo/kantar.png" alt="Businex-Logo" /></a>
                        </div>
                        <div class="brand-logo-item">
                            <a target=”_blank” href="http://www.stevesprinceofsteaks.com/"><img src="images/brand-logo/steves.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a target=”_blank” href="http://icenyicecream.com/"><img src="images/brand-logo/iceny.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a target=”_blank” href="https://www.yourlaundrychute.com/"><img src="images/brand-logo/chute.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a target=”_blank” href="https://www.bigsnyc.org/"><img src="images/brand-logo/bbbsnyc.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a target=”_blank” href="https://www.americandream.com/"><img style="height:30px; margin:11.5px 0px" src="images/brand-logo/americandream.png" alt="Businex-Logo" /></a>
                        </div>

                        <!--
                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/03.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/01.png" alt="Businex-Logo" /></a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Brand Logo Area Wrapper ==-->



    <div style="margin: 80px 0px;">
				<div class="container">
						<div class="footer-top-content">
								<div class="row align-items-center">
										<div class="col-md-8 col-lg-6">
												<h2>Have any Questions?</h2>
												<p>Feel free to reach out.</p>
										</div>
										<div class="col-md-4 col-lg-6 text-md-right mt-sm-25">
												<a href="/contact" class="btn-outline">Contact Us</a>
										</div>
								</div>
						</div>
				</div>
		</div>

    <% include global/footer %>

    <% include global/foot %>

</body>

</html>
