<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>Service Details</title>

<body>

    <% include global/header %>

    <!--== Start Page Content Area Wrapper ==-->
    <div class="page-content-wrapper">
        <div class="service-details-wrapper sm-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="service-details-content">
                            <figure class="service-details-thumb">
                                <img src="images/service/details/01.jpg" alt="Businex-Service Details" />
                                <img src="images/service/details/02.jpg" alt="Businex-Service Details" />
                                <img src="images/service/details/03.jpg" alt="Businex-Service Details" />
                            </figure>
                            <div class="service-details-info">
                                <h3>Digital Solutions</h3>
                                <p>Voluptatum delenitied atqued corrupti is eseted quased stias cepturi sint aete non
                                    provident,
                                    similique sunt dunt labore ete dolored magnam aliquam quaerat Neque porro quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                    numquam
                                    eius modi tempora incidun</p>

                                <div class="about-service mt-50 mt-sm-35">
                                    <h4>About this Service</h4>
                                    <p>Voluptatum delenitied atqued corrupti is eseted quased stias cepturi sint aete non
                                        provident,
                                        similique sunt dunt labore ete dolored magnam aliquam quaerat Neque porro quisquam
                                        est,
                                        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                        numquam
                                        eius modi tempora incidun</p>
                                    <p>Corrupti deleniti atque magnam is es et quas stias cepturi sint aete non provident,
                                        similique sunt dunt ut labore et dolore magnam aliquam quaerat Neque porro quisquam
                                        est dolorem</p>
                                    <ul class="service-feature">
                                        <li>voluptatum deleniti atque corrupti is es et quas stias cepturi sint aete non
                                            provident, similique sunt dunt ut labore et dolore magnam aliquam quaerat
                                        </li>
                                        <li>voluptatum deleniti atque corrupti is es et quas stias cepturi sint aete non
                                            provident, similique sunt dunt ut labore et dolore magnam aliquam quaerat
                                        </li>
                                    </ul>
                                </div>

                                <div class="how-we-works-wrap mt-50 mt-sm-35">
                                    <h4>How we work</h4>
                                    <p>voluptatum deleniti atque corrupti is es et quas stias cepturi sint aete non
                                        provident, similique sunt dunt ut labore et dolore magnam aliquam quaerat Neque
                                        porro quisquam est, qui dolorem ipsum </p>

                                    <div class="how-we-works-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="icon-box-item">
                                                    <div class="icon-box__icon">
                                                        <img src="images/service/icon/strategy.png" alt="Businex - How we work" />
                                                    </div>
                                                    <div class="icon-box__info">
                                                        <h5>Case Strategy</h5>
                                                        <p>voluptatum deleniti atqued corrupti cepturi
                                                            sinte aeted psamtem quia voluptas sit aut odit aut
                                                            fugit. </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="icon-box-item">
                                                    <div class="icon-box__icon">
                                                        <img src="images/service/icon/track-record.png" alt="Businex - How we work" />
                                                    </div>
                                                    <div class="icon-box__info">
                                                        <h5>Track Record</h5>
                                                        <p>voluptatum deleniti atqued corrupti cepturi
                                                            sinte aeted psamtem quia voluptas sit aut odit aut
                                                            fugit. </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="icon-box-item">
                                                    <div class="icon-box__icon">
                                                        <img src="images/service/icon/research.png" alt="Businex - How we work" />
                                                    </div>
                                                    <div class="icon-box__info">
                                                        <h5>Research & Investigation</h5>
                                                        <p>voluptatum deleniti atqued corrupti cepturi
                                                            sinte aeted psamtem quia voluptas sit aut odit aut
                                                            fugit. </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="icon-box-item">
                                                    <div class="icon-box__icon">
                                                        <img src="images/service/icon/analysis.png" alt="Businex - How we work" />
                                                    </div>
                                                    <div class="icon-box__info">
                                                        <h5>Case Analysis</h5>
                                                        <p>voluptatum deleniti atqued corrupti cepturi
                                                            sinte aeted psamtem quia voluptas sit aut odit aut
                                                            fugit. </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pagination-wrap">
                                    <ul class="pagination">
                                        <li class="prev"><a href="#"><i class="fa fa-long-arrow-left"></i> Previous</a></li>
                                        <li class="next"><a href="#">Next <i class="fa fa-long-arrow-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mtn-40">
                        <div class="sidebar-wrap mt-sm-90 mt-md-100">
                            <!-- Start Sidebar Item -->
                            <div class="sidebar-single">
                                <h3 class="sidebar-heading">Services</h3>
                                <div class="sidebar-body">
                                    <ul class="service-list">
                                        <li><a href="service-details.html">Creative Ideas</a></li>
                                        <li><a href="service-details.html">Digital Solutions</a></li>
                                        <li><a href="service-details.html">Brand & Communication</a></li>
                                        <li><a href="service-details.html">Creative Strategy</a></li>
                                        <li><a href="service-details.html">Marketing Policy</a></li>
                                        <li><a href="service-details.html">Campaign & PR</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Sidebar Item -->

                            <!-- Start Sidebar Item -->
                            <div class="sidebar-single">
                                <h3 class="sidebar-heading">Download Brochure</h3>
                                <div class="sidebar-body">
                                    <ul class="service-list">
                                        <li><a href="#"><i class="fa fa-file-pdf-o"></i>Brochures.PDF</a></li>
                                        <li><a href="#"><i class="fa fa-file-word-o"></i>Brochures.DOC</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Sidebar Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Content Area Wrapper ==-->

    <!--== Start Related Service Area ==-->
    <div class="related-service-area sm-top-wt">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 m-auto text-center">
                    <div class="section-title">
                        <h6>More Services</h6>
                        <h2>Related Services</h2>
                    </div>
                </div>
            </div>

            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="service-details.html"><img src="images/service/01.jpg" alt="Businex-Service" /></a>

                            <figcaption class="service-txt">
                                <h5>Creative Ideas</h5>
                            </figcaption>
                        </figure>
                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="service-details.html" class="stretched-link"></a>Creative Ideas</h5>
                                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit consectetur adipisicing
                                    elit. Asdipiscing elit. Consectetur adipisicing hastech.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>

                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="service-details.html"><img src="images/service/02.jpg" alt="Businex-Service" /></a>

                            <figcaption class="service-txt">
                                <h5>Digital Solutions</h5>
                            </figcaption>
                        </figure>

                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="service-details.html" class="stretched-link">Digital Solutions</a></h5>
                                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit consectetur adipisicing
                                    elit. Asdipiscing elit. Consectetur adipisicing hastech.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>

                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="service-details.html"><img src="images/service/03.jpg" alt="Businex-Service" /></a>

                            <figcaption class="service-txt">
                                <h5>Brand & Communication</h5>
                            </figcaption>
                        </figure>

                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="service-details.html" class="stretched-link">Brand & Communication</a></h5>
                                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit consectetur adipisicing
                                    elit. Asdipiscing elit. Consectetur adipisicing hastech.</p>
                            </div>
                        </div>
                        <!-- End Service Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Related Service Area ==-->

    <!--== Start Brand Logo Area Wrapper ==-->
    <div class="brand-logo-area sm-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-logo-content slick-row-20">
                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/01.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/02.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/03.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/04.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/05.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/03.png" alt="Businex-Logo" /></a>
                        </div>

                        <div class="brand-logo-item">
                            <a href="#"><img src="images/brand-logo/01.png" alt="Businex-Logo" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Brand Logo Area Wrapper ==-->

    <!--== Start Fun Fact Area Wrapper ==-->
    <div class="fun-fact-area sm-top parallax" data-parallax-speed="0.70" data-bg="images/fun-fact-bg.jpg">
        <div class="container">
            <div class="row mtn-40">
                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">2654</span></h2>
                        <h6 class="counter-txt">Happy Clients</h6>
                    </div>
                </div>

                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">1520</span></h2>
                        <h6 class="counter-txt">Project Done</h6>
                    </div>
                </div>

                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">120</span></h2>
                        <h6 class="counter-txt">Awards Win</h6>
                    </div>
                </div>


                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">3580</span></h2>
                        <h6 class="counter-txt">Cups Coffee</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Fun Fact Area Wrapper ==-->

    <% include global/footer %>

    <% include global/foot %>

</body>

</html>
