<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>Sponsors</title>

<body>

    <% include global/header %>

    <!--== Start Page Header Area ==-->
    <!-- remove top-div below
    <div class="page-header-area bg-img top-div" data-bg="images/page-header.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 m-auto text-center">
                    <div class="page-header-content-inner">
                        <div class="page-header-content">
                            <h2>KNOW ABOUT BUSINEX THE ULTIMATE TEAM</h2>
                            <p>Businex always try to provide the best Business Solutions for Clinets
                                to grow up their Business very sharply and smoothly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--== End Page Header Area ==-->

    <!--== Start Page Content Area Wrapper ==-->
    <div class="sponsors-total-div">
    <div class="page-content-wrapper top-div">
        <div class="service-details-wrapper sm-top-2">
            <div class="container">
                <div class="row">
                    <% if(locals.sponsors){ %>
                    <div class="col-lg-8">
                        <div class="service-details-content">
                          <h3 class="sidebar-heading">Current Sponsors</h3>
                          <div>
                            <div class="grid" data-masonry='{ "columnWidth": 200, "itemSelector": ".grid-item", "gutter": 10, "fitWidth": true }'>
                              <% for (var i=0; i < sponsors.length; i++){ %>
                              <div class="grid-item"><a target="_blank" rel="noopener noreferrer" href="<%- sponsors[i].url %>"><img src="<%- sponsors[i].photo %>"></a></div>
                              <% } %>
                            </div>
                          </div>
                        </div>
                    </div>
                    <% } %>

                    <div class="col-lg-4 mtn-40">
                        <div class="sidebar-wrap mt-sm-90 mt-md-100">
                            <!-- Start Sidebar Item -->
                            <!--
                            <div class="sidebar-single">
                                <h3 class="sidebar-heading">Services</h3>
                                <div class="sidebar-body">
                                    <ul class="service-list">
                                        <li><a href="service-details.html">Creative Ideas</a></li>
                                        <li><a href="service-details.html">Digital Solutions</a></li>
                                        <li><a href="service-details.html">Brand & Communication</a></li>
                                        <li><a href="service-details.html">Creative Strategy</a></li>
                                        <li><a href="service-details.html">Marketing Policy</a></li>
                                        <li><a href="service-details.html">Campaign & PR</a></li>
                                    </ul>
                                </div>
                            </div>
                          -->
                            <!-- End Sidebar Item -->

                            <!-- Start Sidebar Item -->
                            <div class="sidebar-single">
                                <h3 class="sidebar-heading">Sponsor Deck</h3>
                                <div class="sidebar-body">
                                    <ul class="service-list">
                                        <li><a target="_blank" href='/documents/WMC Sponsor Deck.pdf'><i class="fa fa-file-pdf-o"></i>WMC Sponsor Deck.pdf</a></li>
                                        <!--<li><a href="#"><i class="fa fa-file-word-o"></i>Brochures.DOC</a></li>-->
                                    </ul>
                                </div>
                            </div>
                            <!-- End Sidebar Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Content Area Wrapper ==-->

    <div class="service-details-info">
        <h3>Become a Sponsor</h3>
        <p>Interested in partnering with The Wharton Management Club? Learn the potential benefits of your organization’s involvement with us, and how we can in turn shape your brand. We’re a fast-moving group of driven and talented students and have plenty to offer our sponsors!
</p>

        <div class="about-service mt-50 mt-sm-35">
            <h4>What we can do for you</h4>
            <p>The Wharton Management Club is the University of Pennsylvania’s leading management-focused student organization. We have hundreds of members and alumni who are pursuing management, consulting, and related fields.
</p>

            <ul class="service-feature">
                <li> We can help you organize and host recruiting events on campus, helping you secure rooms easily and reducing your costs and difficulties with recruiting.
                </li>
                <li>Through our network, we can connect your company with some of the Wharton's top students and alumni pursuing management, consulting, and related fields.  Sponsoring us will promote your brand in recruitment and in the corporate world down the road.
                </li>
                <li>We can also spread your brand among the 800+ Penn students on our list-serv.</li>
            </ul>
        </div>

        <div class="how-we-works-wrap mt-50 mt-sm-35">
            <h4>How you can help us</h4>
            <p>Check out our university-approved sponsor slide deck (posted above) to learn about how you can support Wharton Management Club.  Help from our sponsors allows us to maintain and expand our pro-bono consulting program and to support our members in pursuing their passions.</p>
</div>

            <div class="how-we-works-wrap mt-50 mt-sm-35">
                <h4>Contact</h4>
                <p>For more information or to inquire about sponsoring WMC, contact VP of Finance, <span id="vp_finance_name"></span> at <a id="vp_finance_email" href=""></a>.
                </div>
            <!--
            <div class="how-we-works-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="icon-box-item">
                            <div class="icon-box__icon">
                                <img src="images/service/icon/strategy.png" alt="Businex - How we work" />
                            </div>
                            <div class="icon-box__info">
                                <h5>Case Strategy</h5>
                                <p>voluptatum deleniti atqued corrupti cepturi
                                    sinte aeted psamtem quia voluptas sit aut odit aut
                                    fugit. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="icon-box-item">
                            <div class="icon-box__icon">
                                <img src="images/service/icon/track-record.png" alt="Businex - How we work" />
                            </div>
                            <div class="icon-box__info">
                                <h5>Track Record</h5>
                                <p>voluptatum deleniti atqued corrupti cepturi
                                    sinte aeted psamtem quia voluptas sit aut odit aut
                                    fugit. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="icon-box-item">
                            <div class="icon-box__icon">
                                <img src="images/service/icon/research.png" alt="Businex - How we work" />
                            </div>
                            <div class="icon-box__info">
                                <h5>Research & Investigation</h5>
                                <p>voluptatum deleniti atqued corrupti cepturi
                                    sinte aeted psamtem quia voluptas sit aut odit aut
                                    fugit. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="icon-box-item">
                            <div class="icon-box__icon">
                                <img src="images/service/icon/analysis.png" alt="Businex - How we work" />
                            </div>
                            <div class="icon-box__info">
                                <h5>Case Analysis</h5>
                                <p>voluptatum deleniti atqued corrupti cepturi
                                    sinte aeted psamtem quia voluptas sit aut odit aut
                                    fugit. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->


    </div>
  </div>



    <!--== Start Fun Fact Area Wrapper ==-->
    <!--
    <div style="margin-bottom:0px" class="fun-fact-area sm-top parallax" data-parallax-speed="0.70" data-bg="images/fun-fact-bg.jpg">
        <div class="container">
            <div class="row mtn-40">
                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">2654</span></h2>
                        <h6 class="counter-txt">Happy Clients</h6>
                    </div>
                </div>

                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">1520</span></h2>
                        <h6 class="counter-txt">Project Done</h6>
                    </div>
                </div>

                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">120</span></h2>
                        <h6 class="counter-txt">Awards Win</h6>
                    </div>
                </div>


                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">3580</span></h2>
                        <h6 class="counter-txt">Cups Coffee</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
  -->
    <!--== End Fun Fact Area Wrapper ==-->

    <% include global/footer %>

    <% include global/foot %>

</body>

</html>
